*.pyc
*~
/__pycache__/
db.sqlite3
/env/
/media/

# Si estás usando un sistema de archivos para los static files
/static/

# Si utilizas un IDE o editor de texto, también puedes ignorar sus directorios específicos
/.idea/s
/.vscode/
